// Heading
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
// Default, konten
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// Konten, alternatif
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
//
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap");

.bagian-hai {
  display: grid;
  grid-template-columns: 5fr 3fr;
  column-gap: 90px;

  min-height: 100vh;
  margin: 0 90px;

  @media (max-width: 800px) {
    grid-template-columns: minmax(0, 1fr);
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (max-width: 600px) {
    margin-left: 42px;
    margin-right: 42px;
  }

  &__sambut {
    align-self: center;
    min-width: 280px;
    margin-top: 120px;
    margin-left: 42px;

    @media (max-width: 800px) {
      align-self: end;
      margin-top: 120px;
      margin-left: 0;
    }
  }

  &__sambut-teks {
    font-family: "Krona One", sans-serif;
    font-weight: normal;
    font-size: 38px;

    color: #002f3c;

    @media (max-width: 600px) {
      font-size: 30px;
    }

    &--span-animasi {
      display: block;
    }

    .link {
      color: #4361ee;
    }

    .anotasi {
      color: #002f3c;
    }
  }

  &__deskripsi {
    align-self: center;

    min-width: 280px;
    padding: 0 18px;
    margin-top: 120px;
    margin-right: 42px;

    font-size: 18px;
    color: #384346;
    color: #002f3c;

    background-color: ghostwhite;

    @media (max-width: 800px) {
      align-self: start;

      padding: 0;
      margin-right: 0;
      margin-top: 0;

      font-size: 18px;
    }

    @media (max-width: 600px) {
      padding: 0;
      margin-right: 0;
    }

    .selamatDatang {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #002f3c;
    }
  }
}

.bagian-situs {
  position: relative;

  display: grid;
  grid-template-columns: 5fr 3fr;
  column-gap: 30px;
  justify-content: center;

  min-height: calc(100vh + 500px);

  margin: 0 90px;

  @media (max-width: 800px) {
    grid-template-columns: minmax(0, 1fr);
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (max-width: 600px) {
    margin-left: 8px;
    margin-right: 8px;
  }

  .kartu {
    min-width: 270px;
    max-width: 580px;
    height: fit-content;
    padding: 46px 52px 36px 52px;

    font-size: 18px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='pattern' width='24' height='24' viewBox='0 0 40 40' patternUnits='userSpaceOnUse'%3E%3Crect id='pattern-background' width='400%25' height='400%25' fill='rgba(255, 250, 250,1)'%3E%3C/rect%3E%3Cpath fill='rgba(190, 227, 248,1)' d='M-10 30h60v1h-60zM-10-10h60v1h-60'%3E%3C/path%3E%3Cpath fill='rgba(248, 248, 255,1)' d='M-10 10h60v1h-60zM-10-30h60v1h-60z'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23pattern)' height='100%25' width='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-color: snow;
    box-shadow: 0 2px 6px 3px #002f3c0e;

    .footnote {
      margin-top: 42px;
      font-size: smaller;
      color: #6e868d;
    }

    .footnotePointer {
      color: hotpink;
    }
  }
}

.bagian-internet {
  position: relative;

  display: grid;
  grid-template-columns: minmax(0, 1fr);

  max-width: 480px;
  margin: 90px auto;

  font-size: 18px;

  @media (max-width: 800px) {
    margin: 90px auto;
  }

  @media (max-width: 600px) {
    margin: 90px 42px;
  }

  &__list-akun {
    /* reset styling defaultnya ul & li */
    padding: 0;
    list-style: none;

    margin-top: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 600px) {
      margin-top: 60px;
    }
  }

  &__list-item-ikon {
    min-width: 12px;
    max-width: 64px;
    margin-left: 18px;
    margin-bottom: 18px;

    @media (max-width: 600px) {
      margin-left: 8px;
    }
  }

  .itemPertama {
    margin-left: 0;
  }
}
