.antiKoleps {
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 120px;
}

.bagianLab {
  margin-left: 90px;
  margin-right: 90px;

  font-size: 18px;

  @media (max-width: 800px) {
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (max-width: 600px) {
    margin-left: 42px;
    margin-right: 42px;
    overflow-x: hidden;
  }
}

.bagianEksperimen {
  margin-top: 72px;
  margin-bottom: 90px;
}

.teksHeadingBagian {
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

.teksDeskripsiBagian {
  margin: 0;
}

.listArtikel {
  margin-top: 27px;

  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 60px;
  row-gap: 27px;
  overflow-x: hidden;

  @media (max-width: 800px) {
    column-gap: 30px;
  }

  @media (max-width: 600px) {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 27px;
    overflow-x: hidden;
  }
}

.itemArtikel {
  .imageArtikel {
    height: 90px;
    border: solid #002f3c 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='pattern' width='10' height='10' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect id='pattern-background' width='400%25' height='400%25' fill='rgba(255, 255, 255,0)'%3E%3C/rect%3E%3Cpath fill='rgba(176, 196, 222,1)' d='M-10 30h60v4h-60zM-10-10h60v4h-60'%3E%3C/path%3E%3Cpath fill='rgba(255, 255, 255,0)' d='M-10 10h60v1h-60zM-10-30h60v1h-60z'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23pattern)' height='100%25' width='100%25'%3E%3C/rect%3E%3C/svg%3E");
  }

  .judulArtikel {
    margin: 0;
    margin-top: 6px;
  }
}

.itemArtikelPertama {
  margin-top: 0;
}
