.bungkus {
  grid-column: 5;
  grid-row: 2;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-family: "Krona One", sans-serif;
  color: #002f3c;

  .link {
    margin-left: 2em;
    font-size: smaller;
  }
}
